/* *Universal Design */

* {
  font-family: "Manrope", sans-serif;
}

/* *Discussion Section Background */

#discussion {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
